<%= render "shared/header" %>
<div class="main-header">
  <%= render "shared/head_left"%>
  <div class= report>
    <div class= "report-content">
      予定の内容:  <%= @schedule.content %>
    </div>
    <div class="report-title">
    【報告書】
    </div>
    <% @schedule.reports.each do |report| %>
      <div class="pictures">
        <p class="picture-up">写真の投稿</p>
         <div class="picture">
           <%= image_tag report.image.variant(resize: '500x500'), class: 'message-image' %>
         </div>
         <h2 class="picture-text">報告書内容</h2>
         <div class="report-text">
            <%= report.text %>
         </div>
         <%= link_to 'レポート編集', edit_schedule_report_path(@schedule.id, report.id), method: :get %>
         <%= link_to 'レポート削除', schedule_report_path(@schedule.id, report.id), method: :delete %>
       </div>
    <% end %>
    <%= link_to "スケジュール画面へ", schedule_path(@schedule.id) %>
  </div>
</div>